{% extends "header.html" %}
{% block title %} Instructor Home {% endblock %}

{% block content %}
<h1 style="color: black; text-align: center; padding-top: 120px">Courses</h1>
<div style="display: flex; justify-content: center">
    <a href="#"><div class="card" style="width: 18rem; padding-top: 30px; text-align: center; background-color: #0a0909; color: white">
      <div class="card-body">
        <h5 class="card-title">Course Name</h5>
        <h5 class="card-subtitle" style="color: white">Code</h5>
        <hr>
      </div>
    </div></a>
</div>
{% endblock %}