<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style_login.css">
</head>
<body>
    <div class="registration-form">
        <form style="background-color: #403B3B" method="post" action="{{ url_for('login') }}">
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <!-- Adding Flash message here for users trying to register twice -->
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <p class="flash" style="color: red; text-align: center">{{ message }}</p>
              {% endfor %}
              {% endif %}
              {% endwith %}
            <div class="form-group">
                <input type="text" class="form-control item" id="username" name="username" placeholder="Student/Instructor Number">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Login</button>
            </div>
            <div class="form-group" style="text-align: center">
                <a href="{{ url_for('login_faceID') }}">Login with Face ID</a>
            </div>
            <div class="form-group" style="text-align: center">
                <a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
            </div>
            <div class="form-group" style="text-align: center">
                <p style="color: #F8F2F2">Don't have an account? <a href="{{ url_for('role_selector') }}">Register</a></p>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="static/js/scripts_login.js"></script>
</body>
</html>